<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="w-screen h-screen grid place-items-center">
    <!-- an element -->
 @if(update_value){ <div
    class="w-screen h-screen z-10 bg-[#00000050] grid place-items-center fixed"
  >
    <div class="bg-white p-4 rounded-lg">
      <div class="mb-4">Update Item</div>
      <form (submit)="update_item($event)">
        <input type="text" id="update-input" class="border rounded-lg mr-4 px-4 py-1" (value)="update_value!.text" placeholder="Update Task"/>
        <button
          class="bg-red-400 px-6 py-1 text-white rounded-lg"
          type="submit"
        >
          Update
        </button>
      </form>
    </div>
  </div>}

  <!-- another element -->
  <div class="max-w-[500px]">
    <h1 class="text-center text-xl font-bold mb-4">Mawit's simple todo app in Angular.</h1>
    <div class="mb-10 text-center">In your face, Minister and Greg😎</div>
    <form class="" (submit)="add_item($event)">
      <input type="text" class="border rounded-lg mr-4 px-4 py-1" placeholder="Enter Task" />
      <button class="bg-red-400 px-6 py-1 text-white rounded-lg" type="submit">
        Add
      </button>
    </form>
    <div class="border rounded-lg mt-6 px-4 py-4">
      @for(item of list; track item.id){<div class="py-2 border-b">
        <div class="mb-2">{{item.text}}</div>
        <div class="flex">
            <button class="grow px-4 py-1 bg-red-500 rounded-lg white mr-4 text-white text-[10px]" (click)="open_update(item)">Update</button>
            <button class="grow px-4 py-1 bg-red-500 rounded-lg text-white text-[10px]" (click)="delete_item(item.id)">delete</button>
        </div>
      </div>}
      @if(list.length === 0){
        <div>No Items yet🤦‍♂️</div>
      }
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
